<body>
      <form #userForm="ngForm"> 
        {{userForm.value | json }}
        {{userobj | json }}
        <input type="text" placeholder="name" #nametempvar="ngModel" [(ngModel)]= "userobj.name" name="username " ngModel>
        <div *ngIf="nametempvar.touched && nametempvar.dirty">
           <small> field is touched and dirty </small>
        </div>
        <input type="text" placeholder="city" #citytempvar="ngModel" [(ngModel)]= "userobj.city" name="usercity" ngModel>
        <input type="text" placeholder="state"#statetempvar="ngModel" [(ngModel)]= "userobj.state" name="userstate" ngModel>
      </form>
 
</body>


  
